body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#relogio {
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 6em;
    border: #2F3644 solid 5px;
    border-radius: 49px;
    background: #2F3644;
    box-shadow: 6px 6px 0px #13161b, -6px -6px 0px #4b566d;
        
}

.tempo {
    margin: 0 0.6em;
    color: #f2f2f2;
}