body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000407;
    /* background-color: #aee1ff; */
}

#relogioDia {
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 6em;
    border: solid 5px;
    border-radius: 30px;
    background: #aee1ff;
    box-shadow: inset 5px 5px 11px #465a66, inset -5px -5px 11px #ffffff;
}

#relogioNoite {
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 6em;
    border: #cccccc solid 5px;
    border-radius: 30px;
    background: #020e17;
    box-shadow: inset 5px 5px 10px #010609, inset -5px -5px 10px #031625;
        
}

.tempoDia {
    margin: 0 0.4em;
    color: black;
}

.tempoNoite {
    margin: 0 0.4em;
    color: #cccccc;
}